﻿
@{
    ViewBag.Title = "Student Registration Status";
}

<h3>Student Information saved sucessfully. Initiate Course fee payments and student starter kit generation.</h3>
<br/><br /><br /><br /><br /><br /><br /> <!--to be added more info ..-->
