﻿@model IEnumerable<Ims.web.Models.EnquiryViewModel>
@{
    ViewBag.Title = "Enquries";
}
<br/>
<h4> Recent Enquries</h4>
<hr />
@Html.Partial("_SearchBar")
<table class="table">
    <thead>
        <tr>            
            <th>Student Name</th>            
            <th>Email Address</th>
            <th>Contact Number</th>
            <th>Course Name </th>
            <th>Enquiry Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var st in Model)
        {
            <tr>                
                <td>@st.FirstName &nbsp; @st.LastName</td>
                <td>@st.EmailAddress</td>
                <td>@st.Mobile</td>
                <td>@st.CourseName</td>                                
                <td>@st.EnquiryDate.ToShortDateString()</td>
                <td> 
                    <button type="button"
                            class="btn btn-link"
                            data-toggle="modal"
                            data-target="#follow-up">
                        Follow up
                    </button>

                </td>
            </tr>
        }
    </tbody>
</table>

<div id="follow-up" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Student Name</h4>
            </div>
            <div class="modal-body">
                <p>to be implemented...</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>