﻿@model IEnumerable<Ims.web.Areas.Admin.Models.StudentsViewModel>
@{
    ViewBag.Title = "Enrolled Students";
}

<br/>
<h4>Recent Enrollments</h4>
<hr/>
@Html.Partial("_SearchBar")
<table class="table">
     
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Contact Number</th>
            <th>Email Address</th>
            <th>Course</th>
            <th>Enrollment Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var st in Model)
        {
            <tr>
                <th scope="row">@st.ID</th>
                <td>@st.FirstName &nbsp; @st.LastName</td>
                <td>@st.Mobile</td>
                <td>@st.EmailAddress</td>
                <td>@st.CourseName</td>
                <td>@st.EnrollmentDate.ToShortDateString()</td>
                <td>       
                    <button type="button" 
                            class="btn btn-link"
                            data-toggle="modal" 
                            data-target="#viewdetails">Details</button>
                </td>
            </tr>
        }

    </tbody>
</table>
<div id="viewdetails" class="modal modal-wide fade">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Student Details</h4>
            </div>
            <div class="modal-body">
                <p>to be implemented.....</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>

    </div>
</div>


 