﻿
@{
    ViewBag.Title = "Course Details";
}

<h3>Course Details</h3>
<hr />
<h4>to be implemented</h4>
<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br />