﻿@model IEnumerable<Ims.web.Models.CoursesViewModel>
@{
    ViewBag.Title = "Index";
}

<h3>Our Courses</h3>
<hr/>
<div class="row">
    @foreach (var c in Model)
    {

        <div class="col-md-4">
            <h4>
                @c.CourseTitle
          
        </h4>
            <p>
                @c.CourseDescription
            </p>
            <p>
                <a class="btn btn-link"
                   href="/courses/coursedetails?id=@c.ID">more&raquo;</a>
            </p>
        </div>
    }
</div>