﻿
@{
    ViewBag.Title = "Index";
}

<h3>Welcome...</h3>
<hr/>
<!--to do --- graph, dashboard and alerts about payment dues-->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br />