﻿@using Microsoft.AspNet.Identity
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="#">@User.Identity.GetUserName()</a>            
        </li>
        <li><a href="/Admin/Account/LogOff">Log off</a></li>
    </ul>
