﻿<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a href="/admin/adminhome">Home</a></li>        
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" 
                data-toggle="dropdown" role="button" 
               aria-haspopup="true" aria-expanded="false">Students<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/admin/students/enquries">Recent Enquries</a></li>
                <li><a href="/admin/students">Recent Enrollment</a></li>
                <li><a href="/admin/students/Enroll">New Enrollment </a></li>                        
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Employees<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Add New Employee </a></li>
                <li><a href="#">Batches</a></li>            
                <li><a href="#">Leave Plan</a></li>
                <li><a href="#">Salary Structure</a></li>
                <li><a href="#">Payments</a></li>
                
            </ul>
        </li>     

        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Masters<span class="caret"></span></a>
            <ul class="dropdown-menu">                
                <li><a href="/admin/masters/batches">Batches</a></li>
                <li><a href="/admin/masters/tracks">Tracks</a></li>
                <li><a href="/admin/masters/branches">Branches</a></li>
                <li><a href="/admin/masters/cities">Cities</a></li>                
                <li><a href="#">Courses</a></li>                                
                <li role="separator" class="divider"></li>

                <li><a href="/admin/masters/banks">Bank List</a></li>
                <li><a href="/admin/masters/expenses">Expense Items</a></li>
                <li><a href="/admin/masters/income">Income Items</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/admin/account/register">Add System User</a></li>         
            </ul>
        </li> 

        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Accounting<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Course Fee Payments</a></li>
                <li><a href="#">Expense Entry</a></li>
                <li><a href="#">Inward Cheque</a></li>                
                <li><a href="#">Salary Payments</a></li>
            </ul>
        </li> 

        <li class="dropdown">
            <a href="#" class="dropdown-toggle"
               data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">Reports<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="#">Fee Collection Report</a></li>
                <li><a href="#">Expense Report</a></li>
                <li><a href="#">Employee Report</a></li>
                <li><a href="#">MIS Report</a></li>

                <li role="separator" class="divider"></li>  
                <li><a href="#">Enquiry List</a></li>              
                <li><a href="#">Student List</a></li>              
                <li><a href="#">Examination Results</a></li>

                <li role="separator" class="divider"></li>  
                <li><a href="#">Print Payment Reciept </a></li>
            </ul>
        </li> 
        <li><a href="#">eLearning</a></li>                
          
    </ul>
    @Html.Partial("_LoginPartial")

</div>
