﻿<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="icon-addon addon-sm">
                <input type="text" placeholder="Search" class="form-control" id="txtsearch">
                <label for="email" class="glyphicon glyphicon-search" rel="tooltip" 
                       title="email"></label>
            </div>
        </div>
</div>
</div>