﻿@{
    ViewBag.Title = "About";
}

<h3>About US</h3>
<hr />

<p>
    DISHA Computer Institute - A Division of DiSHA Group of Companies
    We are one of the leading Training Service Provider in Information Technology. 
    DISHA is a 1-stop solution for companies operating at various levels. </p>
    <p> 
    We are one of the market leaders in the field of IT education and associated 
    skills. We are an emerging Professional organization with a mission to 
    provide business, software & applications for serving the requirements of 
    Indian Computer Training business Community. </P>
    <p>DISHA Computer Institute started its operations from Pune (Maharashtra) & 
    today it is successfully running 45 Institutes across Maharashtra. 
    We have aggressive plans to extend its operation in the rest of 
    Maharashtra as well as in other states.</p>
<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
