﻿@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title.</h3>
<hr/>
<h4>Disha Computer Training</h4>
<address>
    Rahatni Jagtap Dairy Road,<br/> 
    Pimple Saudagar,<br /> 
    Pune - 411027.
    Ph : +91 20 69827892
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@dishagroup.co.in">support@dishagroup.co.in</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@dishagroup.co.in">marketing@dishagroup.co.in</a>
</address>

<br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />