﻿@{
    ViewBag.Title = "Home Page";
}



<div class="jumbotron">
    <h1>DISHA</h1>
    <p class="lead">Computer training institute. Experts in computer training </p>
    <p>
       @*<a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>*@
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h3>Course Enquiry</h3>
        <p>
            Our Computer Training is based on our sharp understanding about the 
            IT needs of the industry. Over 25000+ students
            benefited from our professional expertise in imparting IT Training.
            Our alliances with leading institutions keep's us aware of the Information 
            Technology industry.    
        </p>
        <p><a class="btn btn-primary" 
              href="/enquiry/addenquiry">I am Interested &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>Courses</h3>
        <p>
            Our Institute has a student-friendly atmosphere and our courses are 
            distinctively relevant to employers and the related employment.
            Facilities-We have excellent learning resources comprising of library, 
            printing facilities, internet facilities and also a vast range of academic 
            and application software including the latest cutting edge graphic 
            design software.
        </p>
        <p><a class="btn btn-success" 
              href="/Courses/Index">View Our Courses &raquo;</a></p>
    </div>

</div>