﻿
@{
    ViewBag.Title = "Thank You";
}

<h3>You have submitted course enquiry. We will contact you for a details disucssion within 2 working days. Thank you...</h3>

<br/><br /><br /><br /><br /><br /><br /><br /><br /><br />